<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改店员信息</title>
    <style>
        body {
            font: 14px "Microsoft YaHei";
        }
        
        .btn {
            position: fixed;
            right: 200px;
            top: 400px;
        }
        .primary,
        .senior,
        input[type=submit] {
            display: inline-block;
            border: 3px solid gray;
            padding: 5px;
            margin-right: 20px;
            cursor: pointer;
        }
        .senior {
            color:red;
            font-weight: 700;
        }
        td {
            padding: 5px 5px;
        }
        .red {
            color: red;
        }
        .gray {
            color: gray;
        }
    </style>
</head>
<body>
    <form action="setclerk_success" method="post">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>昵称 <span class="red">（高级）</span></th>
                    <th>等级<span class="gray">（初级）</span></th>
                    <th>在线<span class="gray">（初级）</span></th>
                    <th>新人<span class="gray">（初级）</span></th>
                    <th>微信号<span class="red">（高级）</span></th>
                    <th>性别<span class="red">（高级）</span></th>
                    <th>年龄<span class="red">（高级）</span></th>
                    <th>手机号<span class="red">（高级）</span></th>
                    <th>城市<span class="red">（高级）</span></th>
                    <th>加入时间<span class="red">（高级）</span></th>
                    <th>服务<span class="red">（高级）</span></th>
                    <th>标签1<span class="red">（高级）</span></th>
                    <th>标签2<span class="red">（高级）</span></th>
                    <th>标签3<span class="red">（高级）</span></th>
                    <th>标签4<span class="red">（高级）</span></th>
                    <th>标签5<span class="red">（高级）</span></th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        <input type="number" class="num" style="display:none;" name="num">
        <div class="btn">
        <a class="primary">初级权限</a>
        <a class="senior">高级权限</a>
        <input type="submit" value="提交">
    </div>
    </form>
</body>
<script>
    var data_list = {{data_list|safe}};
    var type_list = {{type_list|safe}};
    var tbody = document.getElementsByTagName('tbody')[0];
    var count_num=0;
    for (item in data_list){

    var tr = document.createElement('tr');
    tbody.appendChild(tr);
    for (it in type_list){

    var td = document.createElement('td');
    var input = document.createElement('input');

    switch(type_list[it]){
        case 'id':input.type='number';break;
        case 'level':case 'isonline':case 'isnew':input.classList.add('three_p');break;
        default:input.type='text';input.classList.add('other_s');break;
    }
    input.readOnly='true';
    input.style.backgroundColor="#d4cece";
    input.name=data_list[item].id + type_list[it];
    input.value=data_list[item][type_list[it]];
    td.appendChild(input);
    tr.appendChild(td);
    
    }
    count_num++;
    }
    var num = document.getElementsByName('num')[0];
    num.value=count_num;

    var tr_intro = document.createElement('tr');
    var intro_list = ['这是id，不可修改','昵称','范围1-7：<br>普通、中级、高级、铜牌、银牌、金牌、王牌','1在线，0不在线','1新人，0非新人','','','','','','由年、月、日、时、分、秒组成','1文字+语音条,2语音,3买断','','','','','']
    tbody.appendChild(tr_intro);
    for(var t=0;t<17;t++){
        var td_intro = document.createElement('td');
        td_intro.innerHTML=intro_list[t];
        td_intro.style.border="2 solid gray";
        tr_intro.appendChild(td_intro);
    }

    var btn_p = document.getElementsByClassName('primary')[0];
    var btn_s = document.getElementsByClassName('senior')[0];

    var input_p = document.getElementsByClassName('three_p');
    var input_s = document.getElementsByClassName('other_s');
    var count1=1;
    var count2=1;
    btn_p.addEventListener('click',function(){
        if(count1==1){
            for (var p=0;p<input_p.length;p++){
                input_p[p].removeAttribute('readOnly');
                input_p[p].style.backgroundColor="#ffffff";
            }
            count1=0;
        }
        else if(count1==0){
            for (var p=0;p<input_p.length;p++){
                input_p[p].readOnly='true';
                input_p[p].style.backgroundColor="#d4cece";
            }
            count1=1;
        }
    })

    btn_s.addEventListener('click',function(){
        if(count2==1){
            for (var s=0;s<input_s.length;s++){
                
                input_s[s].removeAttribute('readOnly');
                input_s[s].style.backgroundColor="#ffffff";
            }
            count2=0;
        }
        else if(count2==0){
            for (var s=0;s<input_s.length;s++){
                
                input_s[s].readOnly='true';
                input_s[s].style.backgroundColor="#d4cece";
            }
            count2=1;
        }
    })
</script>
</html>