<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>跳转页面</title>
    <style>
        body {
            text-align: center;
            font: 20px "Microsoft YaHei";
        }
        img {
            width: 200px;
            margin-top: 150px;
        }
    </style>
</head>
<body>
    <img src="../static/images/yes.png" alt="通过">
    <p>设置成功！<br><span></span> 秒后页面将自动跳转</p>
</body>
    <script>
        var span = document.getElementsByTagName('span')[0];
        var time=2;
        fn();
        function fn(){
            if (time==0){
            clearInterval(timer);
            location.href="setprice";
            }
            span.innerHTML=time;
            time--;
        }
        timer=setInterval(fn,1000);
        
    </script>

</html>